<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ActEuropa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/blog/css/main.css">
    <link rel="stylesheet" href="/common/css/metricsgraphics.css">
    <link rel="stylesheet" href="/common/css/nice-select.css">
    <% include ../../Partials/Favicons+Fonts.html %>
</head>

<body>
    <% include ../../Partials/Header.html %>
    <style>
        .blogItem{
            background:white;
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            flex-basis:720px;
            max-width:720px;
            min-width:400px;
            padding:12px;
            transition:all 200ms;
            margin-bottom:18px;
            flex-shrink:1;
            
        }
        .cover{
            background-size:cover;
            background-position: center center;
            overflow:hidden;
            max-height:256px;
            height:256px;
        }
        .content{
            margin-top:24px;
            margin-bottom:24px;
            margin-right:12px;
            margin-left:12px;
        }

        .content a:hover .blogItem{
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }
        .content a:active{opacity:1}
        .content a:active .blogItem{
            box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        }

        .content h3{
            color:#002f55;
            font-family: Montserrat, sans-serif;
            font-size:2em;
            font-weight:400;
            margin-bottom:6px;
        }
        .content h4{
            color:#002f55;
            font-weight:400;
            margin:0;
            opacity:0.75;
            line-height:1.5em;
        }
        .content h5{
            margin:0;
            margin-top:12px;
            color: #c73e12;
            font-weight:400;
            font-family: Montserrat, sans-serif;
        }
        .verified-icon{
            max-width:1em;
            max-height:1em;
            margin-right:4px;
        }
        @media screen and (max-width: 760px) {
            .blogItem{
                min-width: unset;
            }
            .flexbox{
                flex-wrap:wrap-reverse;
            }
            .sidebar{
                max-width:unset;
                margin-left:0;
                flex-basis:unset;
            }
        }
    </style>
    <div class="flexbox content">
    <div>
    <% for(var i=0; i<posts.length; i++) { %>
        <a style="text-decoration:none;" href='<%= posts[i].url %>'>
        <div class="blogItem">
            <div class="cover" style="background-image: url('<%= posts[i].heroimage %>');">
                
            </div>
            <h3><% if(posts[i][lang] == undefined) { %><%= posts[i].en.title %><% } else { %><%= posts[i][lang].title %><% } %></h3>
            <h4><% if(posts[i][lang] == undefined) { %><%= posts[i].en.subtitle %><% } else { %><%= posts[i][lang].subtitle %><% } %></h4>
            <h5><img class="verified-icon" src="/common/img/Primary_Logo.svg"></img><%= posts[i].author %> <span style="color:black;opacity:0.5;">• <%= posts[i].date.toDateString() %></span></h5>
        </div>
        </a>
    <% } %>
    </div>
    <div class="sidebar">
        <img src="/common/img/Primary_Logo.svg" style="max-width:96px;"></img><br>
        <span class="sectionHeader">SPECIAL PAGES</span><br>
        <a href="/blog/edit" class="navbtn dark" style="font-size:14px;padding:0;">New blog post</a><br>
        <a href="/data/person/edit" class="navbtn dark" style="font-size:14px;padding:0;">New database entry (person)</a><br>
        <a href="/democracy-in-turkey" class="navbtn dark" style="font-size:14px;padding:0;">Turkish democracy</a><br>
        <span class="sectionHeader">ANNOUNCEMENT</span><br>
        <p>This is our new website. Here you will find, not only really interesting blog posts (to the left), but if you click also this amazing <a href="/data">database</a> of European politicians and people. There's lots of cool stuff over there, including a three dimensional interactive light flattenable political positioning and compassing cube.</p>
        <span class="sectionHeader">FOLLOW US</span><br>
                <div style="margin-top:6px;">
                    <a class="smicon" target="_blank" title="Facebook" href="https://www.facebook.com/ActEuropa-1833768660239476"><img src="/common/img/sm-dark/social_fb.svg"></a>
                    <a class="smicon" target="_blank" title="Twitter" href="https://twitter.com/ActEuropa"><img src="/common/img/sm-dark/social_tw.svg"></a>
                    <a class="smicon" target="_blank" title="YouTube" href="https://www.youtube.com/user/acteuropa"><img src="/common/img/sm-dark/social_yt.svg"></a>
                    <a class="smicon" target="_blank" title="Reddit" href="https://www.reddit.com/r/acteuropa/"><img src="/common/img/sm-dark/social_re.svg"></a>
                    <a class="smicon" target="_blank" title="Discord" href="https://discord.gg/A2WtqVn"><img src="/common/img/sm-dark/social_di.svg"></a>
                </div>
    </div>
    </div>
    <% include ../../Partials/Footer.html %>
</body>

</html>