<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><% if(post[lang] == undefined) { %><%= post.en.title %><% } else { %><%= post[lang].title %><% } %> - ActEuropa blog</title>
    <meta name="description" content="<% if(post[lang] == undefined) { %><%= post.en.subtitle %><% } else { %><%= post[lang].subtitle %><% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/blog/css/main.css">
    <link rel="stylesheet" href="/common/css/metricsgraphics.css">
    <link rel="stylesheet" href="/common/css/nice-select.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <% include ../../Partials/Favicons+Fonts.html %>
</head>
<body>
        <% include ../../Partials/Header.html %>
        <div class="center">
        <h1><% if(post[lang] == undefined) { %><%= post.en.title %><% } else { %><%= post[lang].title %><% } %></h1>
        <h3><% if(post[lang] == undefined) { %><%= post.en.subtitle %><% } else { %><%= post[lang].subtitle %><% } %></h3>
        <h4 class="publishDate"><%= post.date.toDateString()  %></h4>
        <img class="heroImage" src="<%= post.heroimage %>"></img>
        <% if(post[lang] == undefined) { %><%- post.en.article %><% } else { %><%- post[lang].article %><% } %>
        </div>
        <% include ../../Partials/Footer.html %>
</body>
</html>